.color-purple {
    color: #A68DF5;
    font-weight:bold;
}
.color-green {
    color: #c2fec7;
    font-weight:bold;
}
.color-black {
    color: black;
    padding: 50px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.03) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
li {
    font-weight: 400;
    font-style: italic;
    font-size: 22px;
}
.f-20 {
    font-size: 20px;
}
.p-50 {
    padding: 0 50px;
}
.text-left {
    text-align:left;
    padding: 0 35px;
}