.purple {
    background-color: #d9bdf6;
    width:100%;
    height: 200px;
}
.logo-style {
    width: 300px;
}
.h-100 {
    height: 100% !important;
}
.flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}